{% extends 's_admin/base.html' %}
{% block common %}
    {% load static %}
    {% include 's_admin/menu.html' %}
        <link rel="stylesheet" href="{% static 'style.css' %}"><br>
    {% if request.session.status %}
    <form action="{% url 'savearea' %}" method="post">
    {% csrf_token %}
    <table class="countainer">
        <tr><th colspan="2"><h4 style="text-align: center;font-family: 'Arial Black'">Area Operations</h4></th></tr>
    {{ af }}
    <tr><th></th><th><button style="width: 100px" type="submit">save</button></th></tr>
    </table>
    </form>
    {% if data %}<br>
        <table border="2" align="center" style="text-align: center;background-color: yellow;width: 600px">
        <tr><th>area num</th>
            <th>area name</th>
            <th>city name</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        {% for x in data %}
            <tr style="background-color: snow"><th>{{ x.ano }}</th>
            <th>{{ x.area_name }}</th>
                <th>{{ x.city }}</th>
            <th><a><img src="{% static 'images/upd.png' %}" width="25" height="25"></a></th>
            <th><a href="{% url 'deletearea' %}?pno={{ x.ano }}"><img src="{% static 'images/delet.jpg' %}" width="25" height="25"></a></th>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
        {% else %}

        <h3 style="text-align: center;font-family: 'Agency FB';font-size: 25px;color: red">
            Please Do Login
        </h3>
    {% endif %}
{% endblock %}